.Button {
  width: 298px;
  height: 60px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: rgb(176, 118, 214);
  border-radius: 16px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  
  &:hover {
    background-color: rgb(161, 73, 219);
  }

  &:active {
    background-color: rgb(161, 73, 219);
  }

  &:disabled {
    color: #C1C5D6;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
  }
}